/*
This font does not work in Netlify

@import url("http://fonts.cdnfonts.com/css/arcade-classic");

body {
  font-family: "ArcadeClassic", sans-serif;
}

*/

:root {
  --lightskyblue: #87cefa;
  --greenyellow: #adfd30;
  --white: #ffffff;
  --pink: #ea4c89;
}

h1 {
  font-size: 3rem; /* 48px */
}

h2 {
  font-size: 2rem; /* 32px */
}

p {
  font-size: 1.25rem; /* 20px */
  text-transform: uppercase;
}

.button {
  background-color: var(--pink);
  border-style: none;
  box-sizing: border-box;
  border-radius: 0.5rem;
  color: white;
  padding: 0.938rem 2rem; /* 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem; /* 24px; */
  margin: 0.25rem 0.125rem; /* 4px 2px; */
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
}

.child {
  /* Centre horizontally*/
  margin: 0 auto;
}

.descending-button::before {
  content: "Descending ";
}

.ascending-button::before {
  content: "Ascending ";
}

.flex-centre {
  display: flex;
  justify-content: center;
  width: 100%;
}

.flexchild {
  border: blue solid 0.063rem; /* 1px */
}

.title {
  color: var(--lightskyblue);
  margin: 2rem;
}

.country {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: var(--greenyellow) solid 0.313rem; /* 5px */
  margin: 1rem;
}

.bluepen {
  color: var(--lightskyblue);
  margin: 2rem;
}

.thescores {
  display: flex;
  flex-direction: column;
  border: solid black 0.063rem; /* 1px */
  margin: 1rem;
}

.row-flex {
  display: flex;
  align-items: baseline;
  gap: 6rem;
  justify-content: flex-end;
}

.rightblack {
  font-weight: 900;
  font-size: 1.5rem; /* 24px */
  color: black;
  text-align: left;
}

.rightbrown {
  font-weight: 900;
  font-size: 1.5rem; /* 24px */
  color: brown;
  text-align: right;
}

.toright {
  text-align: right;
}

.row-flex2 {
  display: flex;
  justify-content: space-between;
  margin: 3em;
}
