@import url("http://fonts.cdnfonts.com/css/arcade-classic");

:root {
  --lightskyblue: #87cefa;
  --greenyellow: #adfd30;
}

body {
  font-family: "ArcadeClassic", sans-serif;
}

h1 {
  font-size: 3rem; /* 48px */
}

h2 {
  font-size: 2rem; /* 32px */
}

p {
  font-size: 1.25rem; /* 20px */
}

.flex-centre {
  display: flex;
  justify-content: center;
  width: 100%;
}

.flexchild {
  border: blue solid 0.063rem; /* 1px */
}

.title {
  color: var(--lightskyblue);
  margin: 2rem;
}

.country {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: var(--greenyellow) solid 0.313rem; /* 5px */
  margin: 1rem;
}

.bluepen {
  color: var(--lightskyblue);
  margin: 2rem;
}

.thescores {
  display: flex;
  flex-direction: column;
  border: solid black 0.063rem; /* 1px */
  margin: 1rem;
}

.row-flex {
  display: flex;
  align-items: baseline;
  gap: 6rem;
  justify-content: end;
}

.rightblack {
  font-weight: 900;
  font-size: 1.5rem; /* 24px */
  color: black;
  text-align: left;
}

.rightbrown {
  font-weight: 900;
  font-size: 1.5rem; /* 24px */
  color: brown;
  text-align: right;
}

.toright {
  text-align: right;
}

.row-flex2 {
  display: flex;
  justify-content: space-around;
}
